.alternatingContentMain {
  height: 500px;
}

.acGrid {
  height: 100%;
}

.acImage {
  max-height: 100%;
}

.imageColumn {
  display: flex;
  height: 100%;
}

.imageColumn img {
  margin: 0 auto;
  object-fit: contain;
}

.textColumnParent {
  margin: auto;
}

.textColumn {
  display: flex;
  flex-direction: column;
  text-align: center;
}